<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <title>Цитаты</title>
</head>

<body>
    <div class="header" id="main_header">
        <h2 class="page_title" id="main_title"><a href="../">Добавление источника</a></h1>
            <button class="menu_button" id="add_quote_button" type="button" onclick="location.href='../add_quote'">Добавить цитату</button>
            <button class="menu_button" id="add_source_button" type="button" onclick="location.href='../add_source'">Добавить источник</button>
            <button class="menu_button" id="statistics_button"  type="button" onclick="location.href='../statistics'">Статистика</button>
    </div>
    <div id="add_source_container" class="form_container">
        <form method="POST" action="{% url 'add_source' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Добавить источник">
        </form>
        {% if success %}
        <div class="success">
            {{ success }}
        </div>
    {% endif %}
    </div>
</body>